.ButtonMoreBack {
  margin-right: 20px;
  padding: 5px;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-secundary);
  background: var(--blue-app);
  text-decoration: none;
  display: flex;
  border-radius: 8px;
}
