* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background: #000;
  --background-menu: #111;
  --background-form: #222;
  --background-categories: #131313;
  --title: #fff;
  --subtitles: #d3d3d3;
  --text-primary: #fff;
  --text-secundary: #eeeeee;
  --blue-app: #1273eb;
  --scroll: #111;
  --navlink: #666;
  --border-categories: #333;
}
html {
  font-size: 62.5%;
}
body {
  /* padding: 0 20px; */
  font-family: 'Ubuntu', sans-serif;
  background: var(--background);
}
body::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 50px;
}
h1 {
  font-size: 2rem;
  font-family: 'Rubik Mono One', sans-serif;
  color: var(--title);
}
h2 {
  margin: 12px 0 15px 20px;
  font-size: 1.9rem;
  color: var(--subtitles);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3 {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--text-primary);
}
h4 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--subtitles);
}
h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--navlink);
}
