.list-home {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  top: -70px;
}
.list-home-first-movie {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.list-home-first-movie img {
  width: 100%;
}
.list-home-first-movie-shadow {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, #000000, #00000000);
}
.list-home-container-title {
  width: 100%;
  margin: 12px 0 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.list-home-container-title h2 {
  margin: 0 20px;
}
.list-home-container {
  width: 100%;
  padding-left: 20px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  gap: 8px;
}
.list-home-container::-webkit-scrollbar {
  height: 3px;
  background: transparent;
}
.list-home-container::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 50px;
}
.list-home-container img {
  width: 120px;
  margin-bottom: 5px;
  border-radius: 8px;
}
.list-home-link {
  text-decoration: none;
}
.list-home-shadow {
  width: 30px;
  height: 209px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, #00000000, #000000);
}
