.More {
  width: 100%;
  margin-bottom: 60px;
}
.More-container-title {
  width: 100%;
  margin: 12px 0 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.More h2 {
  margin: 70px 0 0 20px;
}
.More-container {
  width: 100%;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  place-items: center;
}
.More-container img {
  width: 140px;
  margin-bottom: 10px;
  border-radius: 8px;
}
