.More {
  width: 100%;
  margin-bottom: 60px;
}
.More-container-title {
  width: 100%;
  padding: 10px 0 10px 0;
  position: fixed;
  top: 0px;
  background: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: end;
  z-index: 2;
}
.More h2 {
  margin: 70px 0 0 20px;
}
.More-container {
  width: 100%;
  padding: 0 20px;
  position: relative;
  top: 115px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  place-items: center;
}
.More-container img {
  width: 140px;
  margin-bottom: 10px;
  border-radius: 8px;
}
