.Search {
  width: 100%;
}
.Search-container {
  width: 100%;
  margin: 20px 0;
  padding: 0 20px;
}
.Search-container-form {
  width: 100%;
  height: 40px;
  display: flex;
  background: var(--background-form);
  border: 0px solid var(--blue-app);
  border-radius: 50px;
}
.Search-container-form input {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  background: transparent;
  font-size: 1.6rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: var(--text-primary);
  border: none;
  outline: none;
}
.Search-container-form button {
  width: 60px;
  background: transparent;
  font-size: 24px;
  color: var(--navlink);
  display: grid;
  place-items: center;
  border: none;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}
.Search-icon-container {
  width: 60px;
  height: 40px;
  display: grid;
  place-items: center;
}
.Search-icons {
  font-size: 24px;
  color: var(--navlink);
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}
.Search-results {
  width: 100%;
  margin-bottom: 70px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  place-items: center;
}
.Search-results img {
  width: 140px;
  margin-bottom: 5px;
  border-radius: 8px;
}
