.Trending {
  width: 100%;
}
.Trending-container {
  width: 100%;
  padding-left: 20px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  gap: 8px;
}
.Trending-container::-webkit-scrollbar {
  height: 3px;
  background: transparent;
}
.Trending-container::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 50px;
}
.Trending-container img {
  width: 120px;
  margin-bottom: 5px;
  border-radius: 8px;
}
